<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="navbar">
      <a class="navbar-brand" href="#">
        <img src="images/a127-logo.svg" alt="">
      </a>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">GitHub</a></li>
          <li class="active"><a href="./">Twitter</a></li>
          <li><a href="../navbar-fixed-top/">Other</a></li>
        </ul>
      </div>
    </div>
    <div class="jumbotron big-hero">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>Write node APIs from your laptop</h1>
            <p>Everything you need to make sure your API is ready for primetime</p>
          </div>
          <div class="col-md-6">
            <div class="thumbnail">
              <img src="/images/terminal-1.png" alt="Terminal">
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Overview</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/resources">Resources</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
